* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: #111111;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 5309px;
    margin: 0 auto;
    background: #111111;
    overflow: hidden;
}

.flex-row-fd {
    position: relative;
    width: 1249px;
    height: 134px;
    margin: 48px 0 0 96px;
    z-index: 146;
}

.rectangle {
    position: absolute;
    width: 432px;
    height: 134px;
    top: 0;
    left: 0;
    border: 2px solid #ffffff;
    z-index: 118;
}

.star {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 51px;
    left: 31px;
    background: url(./asset/star-header.svg) no-repeat center;
    background-size: cover;
    z-index: 119;
}

.bespoke-design-marketing {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 135px;
    height: 24px;
    top: 54px;
    left: 240px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.4px;
    text-align: left;
    z-index: 117;
}

.influenzailla {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 57px;
    left: 69px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.84px;
    text-align: left;
    white-space: nowrap;
    z-index: 120;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 157px;
    height: 68.047px;
    top: 0;
    border: 2px solid #ffffff;

    left: 430px;

    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 124;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 248px;
    height: 68.047px;
    top: 0;
    border: 2px solid #ffffff;
    left: 585px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 127;
}

.cases {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 199.584px;
    height: 68.047px;
    top: 0;
    border: 2px solid #ffffff;
    left: 831px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 130;
}

.rectangle-1 {
    position: absolute;
    width: 155px;
    height: 68px;
    top: 0;
    left: 1029px;
    border: 2px solid #ffffff;
    z-index: 132;

}



.team {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 149.788px;
    height: 68.047px;
    top: 0;
    left: 0.31px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 133;
}

.group {
    position: absolute;
    width: 67px;
    height: 68px;
    top: 0;
    left: 1182px;
    border: 2px solid #ffffff;
    z-index: 134;
}

.vector {
    position: relative;
    width: 16.013px;
    height: 16px;
    margin: 26px 0 0 26.967px;
    background: url(./asset/globe.svg) no-repeat center;
    background-size: 100% 100%;
    z-index: 147;
}

.rectangle-2 {
    position: absolute;
    width: 291px;
    height: 68.047px;
    top: 65.954px;
    left: 430px;
    border: 2px solid #ffffff;
    z-index: 136;
}

.boost-program {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 291px;
    height: 68.047px;
    top: 0;
    left: -1px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 137;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 208px;
    height: 68.047px;
    top: 65.954px;
    left: 719px;
    border: 2px solid #ffff;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 140;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 134px;
    height: 68.047px;
    top: 65.954px;
    border: 2px solid #ffffff;
    left: 925px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 143;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 192px;
    height: 68.047px;
    top: 65.954px;
    border: 2px solid #ffffff;
    left: 1057px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    z-index: 146;
}

.flex-row-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 192px;
    height: 33px;
    margin: 223px 0 0 96px;
    z-index: 103;
}

.text-b {
    flex-shrink: 0;
    position: relative;
    height: 33px;
    font-family: Unbounded, sans-serif;
    font-size: 27px;
    font-weight: 250;
    line-height: 33px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 103;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hi-there-lets-get-started {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 82px;
    height: 30px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 101;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-ef {
    position: relative;
    width: 1224px;
    height: 151px;
    margin: 49px 0 0 96px;
    z-index: 104;
}

.influence-your-audience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 60px;
    top: 0;
    left: 295px;
    font-family: Unbounded, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 59.52px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -9.600000000000001px;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 99;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 709px;
    height: 134px;
    top: 17px;
    left: 0;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 66.96px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 98;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.power-digital-media {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 23px;
    left: 1008px;
    background: url(./asset/Star\ 2.svg) no-repeat center;
    background-size: cover;
    z-index: 104;
}

.boost-your-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 216px;
    height: 85px;
    top: 65px;
    left: 1008px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 102;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 300px;
    height: 40px;
    top: 101px;
    left: 336px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.84px;
    text-align: left;
    z-index: 100;
}

.rectangle-4 {
    position: relative;
    width: 1440px;
    height: 192px;
    margin: 82px 0 0 0;
    z-index: 114;
}

.box-3 {
    position: absolute;
    width: 1440px;
    height: 192px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.800000011920929;
    z-index: 106;
}

.about-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 80px;
    left: 96px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 111;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.expertise {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 80px;
    left: 432px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 112;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.get-started {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 80px;
    left: 768px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 113;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what-we-do {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 80px;
    left: 1104px;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.6px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 114;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-5 {
    position: absolute;
    width: 240px;
    height: 2px;
    top: 122px;
    left: 96px;
    background: #ffffff;
    z-index: 107;
}

.rectangle-6 {
    position: absolute;
    width: 240px;
    height: 2px;
    top: 122px;
    left: 432px;
    background: #ffffff;
    z-index: 108;
}

.rectangle-7 {
    position: absolute;
    width: 240px;
    height: 2px;
    top: 122px;
    left: 768px;
    background: #ffffff;
    z-index: 109;
}

.rectangle-8 {
    position: absolute;
    width: 240px;
    height: 2px;
    top: 122px;
    left: 1104px;
    background: #ffffff;
    z-index: 110;
}

.flex-row-b {
    position: relative;
    width: 768.615px;
    height: 102px;
    margin: 95px 0 0 69px;
    z-index: 89;
}

.our-creative-design {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 432.346px;
    height: 102px;
    top: 0;
    left: 336.269px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 88;
}

.london {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 79px;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 89;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-b-9 {
    position: relative;
    width: 1250px;
    height: 334px;
    margin: 31px 0 0 69px;
    z-index: 93;
}

.we-turn-your-digital-dreams-into-reality {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 709.568px;
    height: 134px;
    top: 0;
    left: 0;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 66.96px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 85;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-a {
    position: absolute;
    width: 241.193px;
    height: 276px;
    top: 58px;
    left: 1008.807px;
    background: #1f1f1f;
    z-index: 93;
}

.img-section-2 {
    position: relative;
    width: 216.173px;
    height: 211px;
    margin: 0 0 0 13.011px;
    background: url(./asset/section-2.png) no-repeat center;
    background-size: cover;
    z-index: 95;
}

.since {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 67.054px;
    height: 34px;
    margin: 6px 0 0 87.07px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 94;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 60px;
    top: 134px;
    left: 0;
    font-family: Unbounded, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 59.52px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -9.600000000000001px;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 87;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-team-of-experienced-designers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 432.346px;
    height: 136px;
    top: 198px;
    left: 336.269px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    z-index: 90;
}

.union {
    position: absolute;
    width: 76.621px;
    height: 28.125px;
    top: 304px;
    left: 3.223px;
    background: url(./asset/Union.svg) no-repeat center;
    background-size: cover;
    z-index: 86;
}

.flex-row-fc {
    position: relative;
    width: 1249px;
    height: 294px;
    margin: 158px 0 0 96px;
    z-index: 74;
}

.rectangle-b {
    position: absolute;
    width: 624px;
    height: 289px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: url(./asset/Rectangle-20.png) no-repeat center;
    background-size: cover;
    z-index: 72;
}

.text-1b {
    display: block;
    position: relative;
    height: 50.04px;
    margin: 103.618px 0 0 55px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 80;
}

.we-create-unique-brand-identities {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276.221px;
    height: 51.041px;
    margin: 38.342px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 76;
}

.rectangle-c {
    position: absolute;
    width: 625px;
    height: 289px;
    top: 0;
    left: 624px;
    font-size: 0px;
    background: url(./asset/Rectangle-21.png) no-repeat center;
    background-size: cover;
    z-index: 74;
}

.text-1d {
    display: block;
    position: relative;
    height: 50.04px;
    margin: 104px 0 0 48px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 82;
}

.we-build-custom-websites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276.221px;
    height: 51.041px;
    margin: 37.96px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 78;
}

.flex-row-e {
    position: relative;
    width: 1249px;
    height: 288px;
    margin: -6px 0 0 96px;
    z-index: 75;
}

.rectangle-d {
    position: absolute;
    width: 624px;
    height: 288px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: url(./asset/Rectangle-22.png) no-repeat center;
    background-size: cover;
    z-index: 73;
}

.text-1f {
    display: block;
    position: relative;
    height: 50.04px;
    margin: 104px 0 0 48px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 81;
}

.influencer-campaigns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276.221px;
    height: 51.041px;
    margin: 37.96px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 77;
}

.rectangle-e {
    position: absolute;
    width: 625px;
    height: 288px;
    top: 0;
    left: 624px;
    font-size: 0px;
    background: url(./asset/Rectangle-23.png) no-repeat center;
    background-size: cover;
    z-index: 75;
}

.number-04 {
    display: block;
    position: relative;
    height: 50.04px;
    margin: 104px 0 0 49px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 83;
}

.high-quality-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276.221px;
    height: 51.041px;
    margin: 37.96px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 79;
}

.flex-row-ece {
    position: relative;
    width: 780px;
    height: 149px;
    margin: 130px 0 0 96px;
    z-index: 48;
}

.dividing-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 60px;
    top: 0;
    left: 495px;
    font-family: Unbounded, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 59.52px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -9.600000000000001px;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 48;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.business-objectives {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 780px;
    height: 134px;
    top: 15px;
    left: 0;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 66.96px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 46;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-aa {
    position: relative;
    width: 1250px;
    height: 187px;
    margin: 75px 0 0 96px;
    z-index: 52;
}

.influenzilla-design-marketing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 373px;
    height: 187px;
    top: 0;
    left: 336px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 49;
}

.customized-solutions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 432px;
    height: 187px;
    top: 0;
    left: 818px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 52;
}

.london-2006 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 10px;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 47;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-ad {
    position: relative;
    width: 914px;
    height: 143px;
    margin: 26px 0 0 432px;
    z-index: 66;
}

.rectangle-f {
    position: absolute;
    width: 306px;
    height: 143px;
    top: 0;
    left: 0;
    border: 2px solid #ffffff;
    z-index: 58;
}

.branding {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 49px;
    left: 51px;
    font-family: Unbounded, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 57;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-10 {
    position: absolute;
    width: 306px;
    height: 143px;
    top: 0;
    left: 304px;
    border: 2px solid #ffffff;
    z-index: 63;
}

.group-11 {
    position: absolute;
    width: 48.286px;
    height: 48.286px;
    top: 43px;
    left: 51px;
    background: url(./assets/images/2ee1244f-c53a-45be-9323-f6d194044d8d.png) no-repeat center;
    background-size: cover;
    z-index: 67;
}

.design {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 49px;
    left: 51px;
    font-family: Unbounded, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    opacity: 0.30000001192092896;
    z-index: 62;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-12 {
    position: absolute;
    width: 306px;
    height: 143px;
    top: 0;
    left: 608px;
    border: 2px solid #ffffff;
    z-index: 66;
}

.group-13 {
    position: absolute;
    width: 48.286px;
    height: 48.286px;
    top: 43px;
    left: 55px;
    background: url(./assets/images/b045e223-cdb2-4e69-9b45-7036c9797896.png) no-repeat center;
    background-size: cover;
    z-index: 69;
}

.marketing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 49px;
    left: 51px;
    font-family: Unbounded, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    opacity: 0.30000001192092896;
    z-index: 65;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-ab {
    position: relative;
    width: 1250px;
    height: 220px;
    margin: -2px 0 0 96px;
    z-index: 59;
}

.rectangle-14 {
    position: absolute;
    width: 914px;
    height: 220px;
    top: 0;
    left: 336px;
    border: 2px solid #ffffff;
    z-index: 59;
}

.rectangle-15 {
    position: absolute;
    width: 306px;
    height: 191px;
    top: 4px;
    left: 304px;
    z-index: 68;
}

.rectangle-16 {
    position: absolute;
    width: 306px;
    height: 191px;
    top: 4px;
    left: 608px;
    z-index: 70;
}

.group-17 {
    position: absolute;
    width: 60.286px;
    height: 60.286px;
    top: 27px;
    left: 51px;
    background: url(./asset/group-12.jpg) no-repeat center;
    background-size: cover;
    z-index: 55;
}

.marketing-materials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 334px;
    height: 68px;
    top: 97px;
    left: 292px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 60;
}

.unique-designs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 182px;
    height: 68px;
    top: 97px;
    left: 51px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 54;
}

.star-18 {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 166px;
    left: 0;
    background: url(./asset/Star\ 2.svg) no-repeat center;
    background-size: cover;
    z-index: 51;
}

.seamless-user-experience {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 432px;
    height: 107px;
    margin: 21px 0 0 432px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 50;
}

.hero-2 {
    position: relative;
    width: 1440px;
    height: 624px;
    margin: 120px 0 0 0px;
    background: url(./asset/max_shirko_None_b20aa929-95e1-4cff-81b4-8d0306ac0b3e-2\ 1.png) no-repeat center;
    background-size: cover;
    z-index: 41;
}

.hi-there-lets-get-started-19 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 82px;
    height: 29.722px;
    top: 84.213px;
    left: 96px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 38;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hi-there-lets-get-started-1a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 82px;
    height: 29.722px;
    top: 84.213px;
    left: 1104px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    z-index: 39;
}

.hi-there-lets-get-started-1b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 82px;
    height: 29.722px;
    top: 84.213px;
    left: 914px;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    z-index: 40;
}

.text-31 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 59.444px;
    top: 413px;
    left: 405px;
    font-family: Unbounded, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 59.444px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -9.600000000000001px;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 37;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.expertise-and-experience {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 709px;
    height: 132.759px;
    top: 426.917px;
    left: 95px;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 66.96px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 36;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-believe-that {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 350px;
    height: 85px;
    top: 471px;
    left: 914px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 41;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-df {
    position: relative;
    width: 1251px;
    height: 145px;
    margin: 88px 0 0 95px;
    z-index: 44;
}

.so-if-youre-a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 432px;
    height: 136px;
    top: 0;
    left: 819px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 43;
}

.our-team-of-talented {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 432px;
    height: 136px;
    top: 9px;
    left: 337px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 42;
}

.union-1c {
    position: absolute;
    width: 76.559px;
    height: 27.865px;
    top: 12.231px;
    left: 0;
    background: url(./assets/images/64fbb012-be29-44a5-9a6d-f8a96bb04cc5.png) no-repeat center;
    background-size: cover;
    z-index: 44;
}

.flex-row-ae {
    position: relative;
    width: 495px;
    height: 144px;
    margin: 114px 0 0 95px;
    z-index: 165;
}

.text-36 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 60px;
    top: 0;
    left: 382px;
    font-family: Unbounded, sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 59.52px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -9.600000000000001px;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 165;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects-for-our-clients {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 495px;
    height: 134px;
    top: 10px;
    left: 0;
    font-family: Unbounded, sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 66.96px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 164;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-row-f {
    position: relative;
    width: 1250px;
    height: 337px;
    margin: 40px 0 0 95px;
    display: flex;
}

#slide1 {
    display: flex;
}

.rectangle-1d {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: url(./asset/Rectangle-24.png) no-repeat center;
    background-size: cover;
}

.rectangle-1g {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: url(./asset/Rectangle-30.png) no-repeat center;
    background-size: cover;
}

.rectangle-1j {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: url(./asset/Rectangle-31.png) no-repeat center;
    background-size: cover;
}

.branding-1e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 82px;
    height: 29.722px;
    margin: 36px 0 0 49px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.marketing-1e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 82px;
    height: 29.722px;
    margin: 36px 0 0 49px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.food-store-identity {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 48px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.fashion-instagram {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 48px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.eco-packaging {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 48px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.we-worked-with-a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 264px;
    height: 51px;
    margin: 72px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
}

.our-team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 264px;
    height: 51px;
    margin: 72px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
}

.we-create {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 264px;
    height: 51px;
    margin: 72px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
}

.rectangle-1f {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 625px;
    font-size: 0px;
    background: url(./asset/Rectangle-26.png) no-repeat center;
    background-size: cover;
}

.rectangle-1h {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 625px;
    font-size: 0px;
    background: url(./asset/Rectangle-26.png) no-repeat center;
    background-size: cover;
}

.rectangle-1k {
    position: absolute;
    width: 625px;
    height: 337px;
    top: 0;
    left: 625px;
    font-size: 0px;
    background: url(./asset/Rectangle-31.png) no-repeat center;
    background-size: cover;
}

.web-design {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 82px;
    height: 29.722px;
    margin: 33px 0 0 48px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.development {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 82px;
    height: 29.722px;
    margin: 33px 0 0 48px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.523px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.technology-startup-site {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 50px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.mobile-and-desktop {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 50px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.social-media {
    display: block;
    position: relative;
    height: 50px;
    margin: 38.278px 0 0 50px;
    font-family: Unbounded, sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    line-height: 49.6px;
    text-align: left;
    white-space: nowrap;
}

.we-partnered-with-a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276px;
    height: 68px;
    margin: 63px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 156;
}

.modern-websites {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 276px;
    height: 68px;
    margin: 63px 0 0 48px;
    font-family: Inter, sans-serif;
    color: #e4e4e4;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    z-index: 156;
}


.flex-row-af {
    position: relative;
    width: 230px;
    height: 40px;
    margin: 11px 0 0 604px;
    z-index: 166;
}

.slide-prev,
.slide-next {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
    z-index: 161;
    overflow: hidden;
    cursor: pointer;
}

.slide-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background: url(./asset/ri_arrow-up-s-line.svg) no-repeat center;
    background-size: cover;
    z-index: 161;
    overflow: hidden;
}

.slide-next {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0px;
    left: 191px;
    background: url(./asset/ri_arrow-up-s-line-2.svg) no-repeat center;
    background-size: cover;
    z-index: 160;
    overflow: hidden;
}

.frame {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    position: absolute;
    width: 77px;
    height: 15px;
    top: 13px;
    left: 50%;
    transform: translate(-49.35%, 0);
    z-index: 166;
}

.ellipse {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(./asset/Ellipse-2.svg) no-repeat center;
    background-size: cover;
    z-index: 167;
    border-radius: 50%;
}

.ellipse-21 {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(./asset/Ellipse-3.svg) no-repeat center;
    background-size: cover;
    z-index: 168;
    border-radius: 50%;
}

.ellipse-22 {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    background: url(./asset/Ellipse-3.svg) no-repeat center;
    background-size: cover;
    z-index: 169;
    border-radius: 50%;
}

.flex-row-c {
    position: relative;
    width: 1249px;
    height: 134px;
    margin: 166px 0 0 96px;
    z-index: 30;
}

.rectangle-23 {
    position: absolute;
    width: 432px;
    height: 134px;
    top: 0;
    left: 0;
    border: 2px solid #ffffff;
    z-index: 4;
}

.star-24 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 51px;
    left: 31px;
    background: url(./asset/Star\ 1.svg) no-repeat center;
    background-size: cover;
    z-index: 5;
}

.bespoke-design-and-marketing {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 135px;
    height: 24px;
    top: 54px;
    left: 240px;
    font-family: Unbounded, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.4px;
    text-align: left;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.influenzailla-25 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 58px;
    left: 76px;
    font-family: Unbounded, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.84px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-26 {
    position: absolute;
    width: 157px;
    height: 68.047px;
    top: 0;
    left: 430px;
    border: 2px solid #ffffff;
    z-index: 8;
}

.about-27 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 157px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-28 {
    position: absolute;
    width: 248px;
    height: 68.047px;
    top: 0;
    left: 585px;
    border: 2px solid #ffffff;
    z-index: 11;
}

.services-29 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 248px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 12;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-2a {
    position: absolute;
    width: 199.584px;
    height: 68.047px;
    top: 0;
    left: 831px;
    border: 2px solid #ffffff;
    z-index: 14;
}

.cases-2b {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 199.584px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 15;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-2c {
    position: absolute;
    width: 155px;
    height: 68px;
    top: 0;
    left: 1029px;
    border: 2px solid #ffffff;
    z-index: 17;
}

.team-2d {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 149.788px;
    height: 68.047px;
    top: 0;
    left: 0.31px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 18;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-2e {
    position: absolute;
    width: 67px;
    height: 68px;
    top: 0;
    left: 1182px;
    border: 2px solid #ffffff;
    z-index: 19;
}

.vector-2f {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 26px 0 0 26px;
    background: url(./asset/globe-footer.svg) no-repeat center;
    background-size: 100% 100%;
    z-index: 32;
}

.rectangle-30 {
    position: absolute;
    width: 291px;
    height: 68.047px;
    top: 65.954px;
    left: 430px;
    border: 2px solid #ffffff;
    z-index: 21;
}

.boost-program-31 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 291px;
    height: 68.047px;
    top: 0;
    left: -1px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 22;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-32 {
    position: absolute;
    width: 208px;
    height: 68.047px;
    top: 65.954px;
    left: 719px;
    border: 2px solid #ffffff;
    z-index: 24;
}

.products-33 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 208px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 25;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-34 {
    position: absolute;
    width: 134px;
    height: 68.047px;
    top: 65.954px;
    left: 925px;
    border: 2px solid #ffffff;
    z-index: 27;
}

.book-35 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 134px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 28;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rectangle-36 {
    position: absolute;
    width: 192px;
    height: 68.047px;
    top: 65.954px;
    left: 1057px;
    border: 2px solid #ffffff;
    z-index: 30;
}

.blog-37 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 192px;
    height: 68.047px;
    top: 0;
    left: 0;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.523px;
    text-align: center;
    background: linear-gradient(138.83deg, #c6f1f7, #f983e9);
    z-index: 31;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-1 {
    position: absolute;
    width: 1440px;
    height: 912px;
    top: 0px;
    left: 0px;
    background: url(./asset/max_shirko_None_b20aa929-95e1-4cff-81b4-8d0306ac0b3e-2\ 2.png) no-repeat center;
    background-size: cover;
    z-index: 97;
}